# Log format and level
LOG_LEVEL=debug
LOG_FORMAT=text

# API key file location
AUTH_API_KEY_FILE=/apikey/sample.csv

# TLS root certificate file location
AUTH_TLS_CA=/ca/ca.crt

# OpenID Connect
AUTH_OIDC_ISSUER_URL=https://consensys-tanuki.eu.auth0.com
AUTH_OIDC_AUDIENCE=https://quorum-key-manager.consensys.net

## Start HTTPS server
HTTPS_ENABLED=true
HTTPS_SERVER_KEY=/certificates/https.key
HTTPS_SERVER_CERT=/certificates/https.crt

## Start Postgres SSL server
#DB_TLS_SSLMODE=verify-full
#DB_TLS_CERT=/certificates/client.crt
#DB_TLS_KEY=/certificates/client.key
#DB_TLS_CA=/ca/ca.crt
#DB_HOST=postgres-ssl

# Import tool
#IMPORT_STORE_TYPE=secrets
#IMPORT_STORE_NAME=hashicorp-secrets

TEST_DATA={"key_manager_url":"https://localhost:8080","health_key_manager_url":"https://localhost:8081","secret_stores":["hashicorp-secrets"],"key_stores":["hashicorp-keys","local-keys"],"eth_stores":["eth-accounts"],"quorum_node_id":"quorum-node","besu_node_id":"besu-node","geth_node_id":"geth-node","api_key":"admin-user","tls_cert":"./certificates/client.crt","tls_key":"./certificates/client.key","oidc_token_url":"","oidc_client_id":"","oidc_client_secret":"","oidc_audience":""}
