version: 2.1

orbs:
  go: circleci/go@1.5.0

commands:
  prepare_golang:
    description: "Checkout, install all packages and handle cache"
    steps:
      - checkout
      - go/mod-download-cached

jobs:
  lint:
    executor:
      name: go/default
      tag: '1.15.7'
    steps:
      - prepare_golang
      - run:
          name: Check lints
          command: |
            make lint-tools
            make lint-ci

  gobuild:
    executor:
      name: go/default
      tag: '1.15.7'
    steps:
      - prepare_golang
      - run:
          name: Build
          command: make gobuild

  test:
    docker:
      - image: cimg/go:1.15.7
    steps:
      - prepare_golang
      - run:
          name: Run unit tests
          command: make run-coverage

  acceptance:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - run:
          name: Uninstall Go
          command: sudo rm -rvf /usr/local/go/
      - go/install:
          version: 1.15.7
      - prepare_golang
      - run:
          name: Acceptance tests
          command: make run-acceptance
          
  e2e:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - run:
          name: Uninstall Go
          command: sudo rm -rvf /usr/local/go/
      - go/install:
          version: 1.15.7
      - prepare_golang
      - run:
          name: e2e tests
          command: |
            set +e
            echo "$MANIFEST_B64" | base64 --decode > ./deps/config/manifest.yml
            make up
            echo "Wait 10 seconds for services to boot up correctly..."
            sleep 10
            make run-e2e

workflows:
  version: 2
  default:
    jobs:
      - lint:
          filters:
            tags:
              only: /^v.*/
            branches:
              only: /.*/
      - gobuild:
          filters:
            tags:
              only: /^v.*/
            branches:
              only: /.*/
      - test:
          filters:
            tags:
              only: /^v.*/
            branches:
              only: /.*/
      - acceptance:
          filters:
            tags:
              only: /^v.*/
            branches:
              only: /.*/
      - e2e:
          filters:
            tags:
              only: /^v.*/
            branches:
              only: /.*/
#              only: master
